@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #254441, #06786d);
    font-family: Poppins, sans-serif;
}

button {
    font-family: Poppins, sans-serif;
}

#wrapper {
    height: 100dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}

.title-container {
    font-family: Oswald;
    font-size: 2rem;
    text-align: center;
    color: white;
}

.title-container p {
    font-size: 1.5rem;
}

#sketch-grid {
    display: flex;
    flex-direction: column;
    width: 720px;
    height: 720px;
}

.grid-row {
    display: flex;
    flex: 1;
}

.grid-box {
    background-color: honeydew;
    border: 1px solid green;
    flex: 1;
}

.hovered-grid-box {
    background-color: #43AA8B;
    opacity: 0.50;
}

.button-container {
    display: flex;
    gap: 24px;
}

.button-container > button {
    background-color: #1B998B;
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-size: 1.125rem;
    padding: 1em 1.5em;
}