* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #9BE8BB;
}

#wrapper {
    height: 100dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
}

#sketch-grid {
    display: flex;
    flex-direction: column;
    width: 720px;
    height: 720px;
}

.grid-row {
    display: flex;
    flex: 1;
}

.grid-box {
    background-color: honeydew;
    border: 1px solid green;
    flex: 1;
}

.hovered-grid-box {
    background-color: #02A847;
    opacity: 0.50;
}

.button-container > button {
    background-color: #348AA7;
    border: none;
    color: white;
    font-size: 1.125rem;
    padding: 1em 1.5em;
}